{:paths ["src" "target/classes"],
 :deps
 {com.openhtmltopdf/openhtmltopdf-core #:mvn{:version "1.0.10"},
  com.openhtmltopdf/openhtmltopdf-pdfbox #:mvn{:version "1.0.10"},
  com.openhtmltopdf/openhtmltopdf-rtl-support #:mvn{:version "1.0.10"},
  com.openhtmltopdf/openhtmltopdf-svg-support #:mvn{:version "1.0.10"},
  org.apache.xmlgraphics/batik-transcode #:mvn{:version "1.16"},
  org.jsoup/jsoup #:mvn{:version "1.15.3"},
  commons-io/commons-io #:mvn{:version "2.11.0"},
  hiccup/hiccup #:mvn{:version "1.0.5"}},
 :mvn/repos {}}
